@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #757575;
  --cs-orange-50: #efa370;
  --cs-orange-100: #d0823c;
  --cs-sky-50: #81c2d7;
  --cs-sky-100: #5fa6c1;
  --cs-gray50: #fafafa;
  --cs-gray100: #efefef;

  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cs-orange-50: var(--cs-orange-50);
  --color-cs-orange-100: var(--cs-orange-100);
  --color-cs-sky-50: var(--cs-sky-50);
  --color-cs-sky-100: var(--cs-sky-100);
  --color-cs-gray100: var(--cs-gray100);
  --color-cs-gray50: var(--cs-gray50);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);

  --radius-20: 20px;
  --radius-30: 30px;

  --leading-tighter: 110%;

  --text-22: 22px;
  --text-40: 40px;
  --text-64: 64px;

  --breakpoint-xs: 390rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 106.25rem;
  --breakpoint-4xl: 110rem;
}

html {
  scroll-behavior: auto !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;

  @media (width: 390px) {
    max-width: 100%;
  }
  @media (width: 640px) {
    max-width: 100%;
  }
  @media (width: 768px) {
    max-width: 728px;
  }
  @media (width: 1024px) {
    max-width: 984px;
  }
  @media (width: 1280px) {
    max-width: 1240px;
  }
  @media (width: 1440px) {
    max-width: 1400px;
  }
  @media (width: 1700px) {
    max-width: 1682px;
  }
  @media (width: 1760px) {
    max-width: 1682px;
  }
}

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  background: linear-gradient(90deg, #d0823c 0%, #5fa6c1 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 5px;
}


.slow-spin {
  animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}